/* .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

} */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header-container h1 {
    margin:10px;
    color: rgba(33, 37, 41, 1);
}

.header-container select {
    font-size: 20px;
    margin-left: 400px; 
    background-color: rgba(241, 243, 245, 1);
    border-radius: 5px;
}

.card-img-overlay {
    position: absolute;
    bottom: 0; 
    width: 100%;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
}
.card-text{
    font-size: 14px;
}
.card {
    display: flex;
    justify-content: center;
}
/* .card-img {
    height: 100%; 
    width:360px;
    object-fit: cover;
} */
.card-img-top{
    height: 200px; 
    object-fit: cover;

}
.card-title{
    display:flex;
    position: relative;
    align-items: center;
    top: 250px;
}
.card-text{
    display:flex;
    position: relative;
    align-items: center;
    top: 250px;
}
